{{#if model.items}}
  <ul class="search-results">
    {{#each model.items as |repo|}}
      <li class="item">
        <header class="item__header">
          <h3 class="item__header__title">
            {{repo.full_name}}
          </h3>

          <p class="item__header__description">
            Lorem ipsum
          </p>
        </header>

        <section class="item__content">
          <ul class="item__content__counters">
            <li class="item__content__counters__item">
              {{fa-icon "fa-star"}}

              <span>
                {{repo.stargazers_count}}
              </span>
            </li>

            <li class="item__content__counters__item">
              {{fa-icon "fa-code-fork"}}

              <span>
                {{repo.forks}}
              </span>
            </li>

            <li class="item__content__counters__item">
              {{fa-icon "fa-eye"}}

              <span>
                {{repo.watchers_count}}
              </span>
            </li>
          </ul>

          <a href="{{repo.link}}" target="_blank" class="item__content__link">
            View on GitHub
          </a>
        </section>
      </li>
    {{/each}}
  </ul>
{{else}}
  empty list
{{/if}}
